#### ARRAY TO DTAFRAME

In [1]:
import numpy as np
import pandas as pd
marks = np.array([[11,22,33],[44,55,66]])
df = pd.DataFrame(marks, columns = ['Subject1','Subject2','Subject3'])
print(df)

   Subject1  Subject2  Subject3
0        11        22        33
1        44        55        66

In [2]:
import numpy as np
import pandas as pd
marks = np.array([[11,22,33],[44,55,66]])
df = pd.DataFrame(marks, columns = ['Subject1','Subject2','Subject3'], index=['Anu','John'])
print(df)

      Subject1  Subject2  Subject3
Anu         11        22        33
John        44        55        66

#### EXAMPLE 2

In [3]:
import numpy as np
import pandas as pd
student_details = np.array([['Jon',25,1995,2016],['Maria',47,1973,2000],['Bill',38,1982,2005]], dtype=object)
df = pd.DataFrame(student_details, columns = ['Name','Age','Birth Year','Graduation Year'])
print(df)

    Name Age Birth Year Graduation Year
0    Jon  25       1995            2016
1  Maria  47       1973            2000
2   Bill  38       1982            2005

In [4]:
import numpy as np
import pandas as pd
student_details = np.array([['Jon',25,1995,2016],['Maria',47,1973,2000],['Bill',38,1982,2005]], dtype=object)
df = pd.DataFrame(student_details, columns = ['Name','Age','Birth Year','Graduation Year'])
print(df)
print(type(df))
print(df.dtypes)

    Name Age Birth Year Graduation Year
0    Jon  25       1995            2016
1  Maria  47       1973            2000
2   Bill  38       1982            2005
<class 'pandas.core.frame.DataFrame'>
Name               object
Age                object
Birth Year         object
Graduation Year    object
dtype: object

In [5]:
import numpy as np
import pandas as pd
student_details= np.array([['Jon',25,1995,2016],['Maria',47,1973,2000],['Bill',38,1982,2005]])
df = pd.DataFrame(student_details, columns = ['Name','Age','Birth Year','Graduation Year'])
df['Age'] = df['Age'].astype(int)
df['Birth Year'] = df['Birth Year'].astype(int)
df['Graduation Year'] = df['Graduation Year'].astype(int)

print(df)
print(type(df))
print(df.dtypes)

    Name  Age  Birth Year  Graduation Year
0    Jon   25        1995             2016
1  Maria   47        1973             2000
2   Bill   38        1982             2005
<class 'pandas.core.frame.DataFrame'>
Name               object
Age                 int32
Birth Year          int32
Graduation Year     int32
dtype: object

#### EXAMPLE 3

#### ADD ARRAY AS NEW COLUMN IN DATAFRAME

In [7]:
import numpy as np
import pandas as pd

#create pandas DataFrame
df = pd.DataFrame({'Game1': [25, 12, 15, 14, 19, 23, 25, 29],
                   'Game2': [5, 7, 7, 9, 12, 9, 9, 4],
                   'Game3': [11, 8, 10, 6, 6, 5, 9, 12]})

#create NumPy array for 'Game4'
Game4 = np.array([2, 3, 1, 0, 2, 7, 8, 2])

#add 'Game4' array as new column in DataFrame
df['Game4'] = Game4.tolist()

#display the DataFrame
print(df)

   Game1  Game2  Game3  Game4
0     25      5     11      2
1     12      7      8      3
2     15      7     10      1
3     14      9      6      0
4     19     12      6      2
5     23      9      5      7
6     25      9      9      8
7     29      4     12      2

#### LIST TO DICTIONARY

#### EX 1 CONVERT LIST OF TUPLES TO DICTIONARY

In [8]:
Marks=[('Abi',67),('John',54)]
Marks_Dict=dict(Marks)
print(Marks_Dict)

{'Abi': 67, 'John': 54}

#### EX 2

#### Converting two lists of same length to a dictionary using dict & zip method

In [10]:
index = [1, 2, 3]
courses = ['python', 'machine learning', 'data science']

dictionary = dict(zip(index, courses))
print(dictionary)

{1: 'python', 2: 'machine learning', 3: 'data science'}

#### Converting two lists of same length to a dictionary using zip method

In [11]:
index = [1, 2, 3]
courses = ['python', 'machine learning', 'data science']

dictionary = {k: v for k, v in zip(index, courses)}
print(dictionary)

{1: 'python', 2: 'machine learning', 3: 'data science'}

#### EX 3

In [12]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
square_dict = {n: n*n for n in list1}  
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### LIST TO SET

#### USING set() FUNCTION

In [14]:
Marks = [45,98,23,76,38,62]
Marks_Set= set(Marks)
print(Marks_Set)

{98, 38, 76, 45, 23, 62}

#### USING for loop()

In [15]:
Marks = [45,98,23,76,38,62]
my_set = set() 
# Using for loop
for num in Marks:
    # Adding num to my_set
    my_set.add(num)
print(my_set)

{98, 38, 76, 45, 23, 62}

#### USING set COMPREHENSION

In [16]:
Marks = {s for s in [45,98,23,76,38,62]}
print(Marks)

{98, 38, 76, 45, 23, 62}

#### LIST TO TUPLE

#### USING tuple() FUNCTION

In [18]:
Marks = [45,98,23,76,38,62]
Marks_tuple= tuple(Marks)
print(Marks_tuple)

(45, 98, 23, 76, 38, 62)

#### USING LOOP

In [19]:
Marks = [45,98,23,76,38,62]
Marks_tuple= tuple(i for i in Marks)
print(Marks_tuple)

(45, 98, 23, 76, 38, 62)

#### Extract Dictionary values as a List

#### EX 1

In [20]:
my_dict = {'A': 300, 'B': 150, 'C': 500, 'D': 850, 'E': 400}
my_list = list(my_dict.values())
print(my_list)

[300, 150, 500, 850, 400]

 #### Using List comprehension

In [21]:
my_dict = {'A': 300, 'B': 150, 'C': 500, 'D': 850, 'E': 400}
my_list = [i for i in my_dict.values()]
print(my_list)

[300, 150, 500, 850, 400]

#### EX 2

In [22]:
my_dict = {'A': [300, 305, 310], 'B': [150, 155, 160], 'C': [500, 505, 510]}
my_list = list(my_dict.values())
print(my_list)

[[300, 305, 310], [150, 155, 160], [500, 505, 510]]

#### DICTIONARY TO LIST

#### EX 1

#### Using list and items() method

In [23]:
inputDictionary = {'Hello': 10, 'HopeAI': 20, 'python': 30}
resultList = list(inputDictionary.items())
print(resultList)

[('Hello', 10), ('HopeAI', 20), ('python', 30)]

#### Using keys() method

In [24]:
inputDictionary = {'Hello': 10, 'HopeAI': 20, 'python': 30}
resultList = list(inputDictionary.keys())
print(resultList)

['Hello', 'HopeAI', 'python']

#### Using values() method

In [25]:
inputDictionary = {'Hello': 10, 'HopeAI': 20, 'python': 30}
resultList = list(inputDictionary.values())
print(resultList)

[10, 20, 30]

#### Using list comprehension

In [26]:
inputDictionary = {'Hello': 10, 'HopeAI': 20, 'python': 30}
resultList = [(key, value) for key, value in inputDictionary.items()]
print(resultList)

[('Hello', 10), ('HopeAI', 20), ('python', 30)]

#### Using zip() method

In [27]:
inputDictionary = {'Hello': 10, 'HopeAI': 20, 'python': 30}
resultList = zip(inputDictionary.keys(), inputDictionary.values())
resultList = list(resultList)
print(resultList)

[('Hello', 10), ('HopeAI', 20), ('python', 30)]

#### Using map() function

In [28]:
inputDictionary = {'Hello': 10, 'HopeAI': 20, 'python': 30}
resultList = new_list = list(map(list, inputDictionary.items()))
print(resultList)

[['Hello', 10], ['HopeAI', 20], ['python', 30]]

## Set to Tuple

In [29]:
Course={'Machine Learning','Python','Data Science','Deep Learning'}
Course_Names=tuple(Course)
print(Course_Names)

('Python', 'Machine Learning', 'Deep Learning', 'Data Science')

#### Using List comprehension

In [30]:
Course={'Machine Learning','Python','Data Science','Deep Learning'}
Course_Names=[i for i in Course]
print(tuple(Course_Names))

('Python', 'Machine Learning', 'Deep Learning', 'Data Science')

## Set to List

In [31]:
Course={'Machine Learning','Python','Data Science','Deep Learning'}
Course_Names=list(Course)
print(Course_Names)

['Python', 'Machine Learning', 'Deep Learning', 'Data Science']

## Set to Dictionary

In [32]:
list_keys = {1,2,3,4}
list_values = {'Mon','Tue','Wed','Thu'}
new_dict = dict(zip(list_keys, list_values))
print(new_dict)

{1: 'Mon', 2: 'Thu', 3: 'Tue', 4: 'Wed'}

#### Using dict.fromkeys()

In [33]:
list_keys = {1,2,3,4}
new_dict = dict.fromkeys(list_keys,'Mon')
print(new_dict)

{1: 'Mon', 2: 'Mon', 3: 'Mon', 4: 'Mon'}

## Tuple to Set

In [34]:
Course=('Machine Learning','Python','Data Science','Deep Learning')
Course_Names=set(Course)
print(Course_Names)

{'Python', 'Machine Learning', 'Deep Learning', 'Data Science'}

## Tuple to List

In [35]:
Course=('Machine Learning','Python','Data Science','Deep Learning')
Course_Names=list(Course)
print(Course_Names)

['Machine Learning', 'Python', 'Data Science', 'Deep Learning']

## Tuple to Dictionary

#### Using dict()

In [36]:
my_tuples = (('Tiger', 4), ('Cat', 6), ('Dog', 8), ('Elephant', 10))
my_dict = dict(my_tuples)
print(my_dict)

{'Tiger': 4, 'Cat': 6, 'Dog': 8, 'Elephant': 10}

#### Using zip() method

In [38]:
list_keys = (1,2,3,4)
list_values = ('Machine Learning','Python','Data Science','Deep Learning')
Course = dict(zip(list_keys, list_values))
print(Course)

{1: 'Machine Learning', 2: 'Python', 3: 'Data Science', 4: 'Deep Learning'}

## DataType Conversion

#### Convert ASCII value to characters

In [39]:
a = chr(65)
b = chr(77)
  
print(a)
print(b)

A
M

#### Converting integer to float using Implicit function

In [40]:
num1 = 12
num2 = 1.23

new_num = num1 + num2

# display new value and resulting data type
print("Value:",new_num)
print("DataType:",type(new_num))

Value: 13.23
DataType: <class 'float'>

#### Addition of string and integer Using Explicit Conversion

In [41]:
num_str = '12'
num_int = 23
# explicit type conversion
num_str = int(num_str)
num_sum = num_int + num_str

print("Sum:",num_sum)
print("DataType:",type(num_sum))

Sum: 35
DataType: <class 'int'>

#### Converting String to Numeric Types

In [42]:
str_num = '56'
print(int(str_num))    #default base is 10
print(int(str_num, 16))    #From Hexadecimal
print(int(str_num, 12))    #From a number where base is 12
str_num = '25.897'
print(float(str_num))    #convert string to floating point value

56
86
66
25.897

#### String to character converting and Base converting

In [43]:
print('ASCII value of "M" is: ' + str(ord('M')))
print('Hexadecimal value of 254 is: ' + str(hex(254)))
print('Octal value of 62 is: ' + str(oct(62)))
print('Binary value of 56 is: ' + str(bin(56)))

ASCII value of "M" is: 77
Hexadecimal value of 254 is: 0xfe
Octal value of 62 is: 0o76
Binary value of 56 is: 0b111000

#### Converting Containers

In [44]:
my_list = [10, 20, 30, 40, 50]
my_set = {10, 10, 20, 30, 20, 50, 20}
my_tuple = (10, 25, 50, 75, 100)
print('list to tuple: ' + str(tuple(my_list)))
print('list to set: ' + str(set(my_list)))
print('set to list: ' + str(list(my_set)))
print('set to tuple: ' + str(tuple(my_set)))
print('tuple to list: ' + str(list(my_tuple)))
print('tuple to set: ' + str(set(my_tuple)))

list to tuple: (10, 20, 30, 40, 50)
list to set: {40, 10, 50, 20, 30}
set to list: [10, 20, 50, 30]
set to tuple: (10, 20, 50, 30)
tuple to list: [10, 25, 50, 75, 100]
tuple to set: {100, 10, 75, 50, 25}

#### convert to complex number

In [47]:
my_complex = complex(14, 2) 
print(my_complex)

(14+2j)

#### Using ord() function

In [48]:
a = '+'
b = 'A'

print(ord(a))
print(ord(b))

43
65

### Primitive datatype Conversions

In [49]:
import numpy as np
x = np.array([1, 2, 2.5])
x.astype(int)

array([1, 2, 2])

In [50]:
# int to float
x,y=3,4
z= float(x+y)
print(z)

7.0

In [51]:
#float to int
x,y=3.5, 4.8
z= int(x+y)
print(z)

8

In [52]:
# int to str
chocolate = 25
icecream = 40
total = chocolate + icecream
print("The total is: " + str(total)  + "$")

The total is: 65$